* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
}

.App {
  width: 350px;
  height: 350px;
}

.board-container {
  margin: 20px;
}

.board-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.square {
  border: 2px solid;
  height: 100px;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}